/* 폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pretendard';
  background-color: #000;
  color: #fff;
  overflow-X: hidden;
}

/* 노멀라이즈 */
body,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

body.no-scroll {
  overflow: hidden !important;
}

/* ---------- header Custom Start ---------- */
header {
  position: fixed;
  width: 100vw;
  background-color: #000;
  z-index: 1111111;
}

header>.container {
  max-width: 1680px;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

header .header_inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

header .header_inner>.logo_box {
  margin-right: 70px;
  flex-shrink: 1;
}

header .header_inner>.logo_box>a {
  display: block;
  height: 100%;
}

header .header_inner .logo_box img {
  display: block;
  width: 224px;
}

header .header_inner .menu_box {
  height: 100%;
  width: 100%;
  max-width: 650px;
}

header .header_inner .menu_box>ul {
  display: flex;
  height: 100%;
}

header .header_inner .menu_box>ul.active {
  color: #808080;
}

header .header_inner .menu_box>ul>li {
  flex-grow: 1;
}


header .header_inner .menu_box>ul>li.active {
  color: #fff;
}

header .header_inner .menu_box>ul>li>a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

header .header_inner .menu_box>ul>li>a>span {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

header .header_inner .menu_box>ul>li>a>span::after {
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #fff;
  width: 0;
  position: absolute;
  transition: all .7s ease;

}

header .header_inner .menu_box>ul>li.active>a>span::after {
  width: 100%;
}

header .header_inner .util_box {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 58px;
  margin-left: 80px;
}

header .header_inner .util_box>div {
  display: flex;
  align-items: center;
}

header .header_inner .util_box .search_icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

header .header_inner .util_box .search_icon img {
  display: block;
}

header .header_inner .hamberger-btn {
  display: none;
  justify-content: center;
  flex-direction: column;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 11111111;
}

header .header_inner .hamberger-btn>div {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .4s ease;
  position: absolute;
  top: 10%;
  left: 0;

}

header .hamberger-btn>div:nth-child(2) {
  width: 66%;
  top: 50%;
}

header .hamberger-btn>div:nth-child(3) {
  width: 66%;
  align-self: flex-end;
  height: 4px;
  top: 90%;
  left: auto;
  right: 0;
}

header .hamberger-btn.active>div:nth-child(1) {
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
}

header .hamberger-btn.active>div:nth-child(2) {
  width: 0;
}

header .hamberger-btn.active>div:nth-child(3) {
  transform: rotate(-45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
}



header .side_menu_box {
  position: absolute;
  left: 0;
  top: 100px;
  backdrop-filter: blur(30px);
  width: 100vw;
  height: calc(100vh - 100px);
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease;

}

header .side_menu_box.active {
  visibility: visible;
  opacity: 1;
}

header .side_menu_box .side_menu_bar {
  position: absolute;
  left: -394px;
  width: 384px;
  height: 100%;
  background-color: #000;
  font-size: 18px;
  font-weight: 400;
  padding: 40px;
  box-sizing: border-box;
  transition: left .7s ease;
}


header .side_menu_box.active .side_menu_bar {
  left: 0;
}

header .side_menu_box .side_menu_bar nav {
  display: none;
}

header .side_menu_box .side_menu_bar nav.active {
  display: block;
}



header .side_menu_box .side_menu_bar nav ul>li>ul {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #484B4D;
  left: 0;
  top: 0;
  padding: 40px;
  box-sizing: border-box;
  visibility: hidden;
  z-index: -1;
  overflow-y: auto;
}

header .side_menu_box .side_menu_bar nav ul>li.active>ul {
  visibility: visible;
  left: 100%;
  transition: all 0.7s 0.2s ease;
}

header .side_menu_box .side_menu_bar nav ul>li>a {
  padding: 16px 10px;
  display: flex;
  justify-content: space-between;
  transition: padding .7s;
}

header .side_menu_box .side_menu_bar nav>ul>li.active>a {
  background-color: #1A1A1A;
  padding-left: 20px;
  border-radius: 4px;
}

header .side_menu_box .side_menu_bar nav ul>li>ul>li:hover>a {
  background-color: #606466;
  padding-left: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

header .side_menu_box .side_menu_bar nav a:not(:only-child)::after {
  content: url(../imgs/fi-rr-angle-small-right.svg);
  margin-top: -4px;
  display: none;
  width: 24px;
  height: 24px;
}

header .side_menu_box .side_menu_bar nav ul>li.active>a:not(:only-child)::after {
  display: block;
}



header .side_menu_box .side_menu_bar .logo_btn {
  padding: 24px 0;
  display: flex;
}

header .side_menu_box .side_menu_bar .logo_btn a {
  width: 146px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

header .side_menu_box .side_menu_bar .logo_btn a:first-child {
  margin-right: 12px;
}

header .side_menu_box .side_menu_bar .logo_btn img {
  height: 10px;
}

header .search_board {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #070908;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  top: -100%;
  transition: all 0.7s ease;
}

header .search_board.active {
  visibility: visible;
  opacity: 1;
  top: 0;
}

header .search_board>div {
  max-width: 1600px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .search_board .img_box {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

header .search_board .img_box img.logo {
  display: block;
  width: 214px;
  margin: 0 auto;
  margin-bottom: 64px;
}

header .search_board .img_box img.filter {
  width: 214px;
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 100;
  opacity: 0;
  transition: all 1.2s 0.8s ease;
}

header .search_board .img_box img.filter.active {
  top: 0;
  left: 0;
  opacity: 1;
}

header .search_board .search_box {
  display: flex;
  width: 896px;
  height: 56px;
  border-radius: 40px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 32px;
}

header .search_board .search_box input {
  font-weight: 500;
  font-size: 18px;
  flex-grow: 1;
  padding: 0;
  border: none;
  height: 100%;
}

header .search_board .search_box input:focus {
  outline: none;
}

header .search_board .search_box img {
  height: 25px;
  align-self: center;
  cursor: pointer;
}

header .search_board .teg_box {
  width: 896px;
  margin: 48px auto 0 auto;
}

header .search_board .teg_box>div {
  display: flex;
  gap: 16px;
  margin-bottom: 18px;
  justify-content: center;
}

header .search_board .teg_box div>div {
  padding: 8px 24px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 40px;
  cursor: pointer;
  transition: all .4s ease;
}

header .search_board .teg_box div>div:hover {
  background-color: #fff;
  color: #222;
}

header .search_board .closed_box {
  position: absolute;
  top: 164px;
  right: 13%;
  width: 40px;
  height: 40px;
  transition: transform .4s ease;
  cursor: pointer;
}

header .search_board .closed_box:hover {
  transform: rotate(-105deg);
}


header .search_board .closed_box::after,
header .search_board .closed_box::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  transform: rotate(45deg);
  background-color: #fff;
}

header .search_board .closed_box::before {
  transform: rotate(-45deg);
}

header .search_board .closed_box:hover::after,
header .search_board .closed_box:hover::before {
  box-shadow: 0 0 5px #fff;
}

header .hamberger-box {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: -100vh;
  left: 0;
  z-index: 1111;
  box-sizing: border-box;
  padding: 4.21vh 11.29vw;
  visibility: hidden;
  transition: all .7s ease;
}




header .hamberger-box::-webkit-scrollbar {
  width: 6px;
}

header .hamberger-box::-webkit-scrollbar-thumb {
  background-color: #2978BD;
  border-radius: 5px;
}

header .hamberger-box::-webkit-scrollbar-button {
  display: none;
}



header .hamberger-box .logo-box {
  width: 100%;
  margin-bottom: 7.15vh;
}

header .hamberger-box .logo-box>img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

header .hamberger-box .search-box {
  display: flex;
  width: 20vw;
  padding: 8px 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 4.21vh;
}

header .hamberger-box .search-box input {
  font-weight: 500;
  font-size: 1.68vh;
  flex-grow: 1;
  padding: 0;
  border: none;
  height: 100%;
  color: #fff;
  background-color: inherit;
}

header .hamberger-box .search-box input:focus {
  outline: none;
}

header .hamberger-box .search-box img {
  display: block;
  height: 1.68vh;
  align-self: center;
  cursor: pointer;
}

header .hamberger-box .menu-box {
  width: 260px;
}

header .hamberger-box .menu-box-mo-ver {
  display: none;
}

header .hamberger-box .menu-box>ul {
  position: relative;
}

header .hamberger-box .menu-box ul {
  width: 28vw;
}

header .hamberger-box .menu-box ul>li {
  font-size: 2.52vh;
  font-weight: 700;
  color: #666;
  margin-bottom: 3.72vh;
}

header .hamberger-box .menu-box ul>li>a {
  display: inline-block;
}

header .hamberger-box .menu-box ul>li.hover {
  color: #fff;
}

header .hamberger-box .menu-box ul ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
}

header .hamberger-box .menu-box ul>li.hover>ul {
  display: block;
}

header .hamberger-box .menu-box ul ul>li {
  font-size: 1.89vh;
  font-weight: 500;
  color: #666;
  margin-bottom: 3.15vh;
}

header .hamberger-box .menu-box ul ul>li:hover {
  color: #fff;
}

header .hamberger-box .menu-box ul ul ul {
  overflow-y: auto;
  height: 100%;
}

header .hamberger-box .menu-box ul ul ul::-webkit-scrollbar {
  width: 6px;
}

header .hamberger-box .menu-box ul ul ul::-webkit-scrollbar-thumb {
  background-color: #2978BD;
  border-radius: 5px;
}

header .hamberger-box .menu-box ul ul ul::-webkit-scrollbar-button {
  display: none;
}

header .hamberger-box>div:nth-child(5) {
  display: flex;
  gap: 8px;
  margin-bottom: 5.05vh;
  font-size: 1.68vh;
  font-weight: 400;
}

header .hamberger-box>div:nth-child(5)>div:nth-child(2) {
  width: 1px;
  background-color: #fff;
}

header .hamberger-box>div:nth-child(6)>div:first-child {
  width: 100px;
  margin-bottom: 2.1vh;
}

header .hamberger-box>div:nth-child(6)>div:last-child {
  width: 120px;
}

header .hamberger-box>div:nth-child(6)>div img {
  display: block;
  width: 100%;
}

header .hamberger-box .menu-box-mo-ver {
  width: 100%;
  margin-bottom: 40px;
  display: none;
}

header .hamberger-box .menu-box-mo-ver>ul {
  width: 100%;
  padding: 0 50px 0 40px;
  box-sizing: border-box;
}

header .hamberger-box .menu-box-mo-ver>ul>li {
  width: 100%;
  border-bottom: 1px solid #666;
  margin-bottom: 0;
  padding: 20px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

header .hamberger-box .menu-box-mo-ver ul ul {
  position: unset;
  display: none;
}

header .hamberger-box .menu-box-mo-ver ul ul li {
  font-size: 16px;
  padding: 10px 32px;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 500;
  color: #666;
}

header .hamberger-box .menu-box-mo-ver ul ul li:hover {
  color: #fff;
}


header .hamberger-box .search-box {
  display: flex;
  width: 60vw;
  padding: 8px 20px;
  border-bottom: 1px solid #fff;
  margin: 0 auto 7.89vw auto;
}

header .hamberger-box .search-box input {
  font-size: 16px;
  text-align: center;
}

/* ---------- header Custom End ---------- */








/* ---------- Main Custom Start ---------- */
/* ---------- Main Section 1 Banner Start ---------- */
.banners {
  width: 100vw;
  height: calc(100vh - 100px);
  white-space: nowrap;
  min-width: 310px;
  padding-top: 100px;
}

.banners .swiper-slide {
  position: relative;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 7vh;
}

.banners .swiper-slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banners .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  max-width: 1320px;
  width: 100%;
  height: 77%;
  padding: 0 36px;
  text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.banners .content .text-box>div {
  text-align: left;
}

.banners .content .text-box>.brand-name {
  font-size: 20px;
  font-weight: 500;
  line-height: .74;
}

.banners .content .text-box .h1 {
  font-size: 80px;
}

.banners .content .button>div {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-right: 40px;
}

.banners .content .button>div>a {
  display: flex;
  align-items: center;
}

.banners .content .button>div img {
  width: 24px;
  height: 24px;
  display: block;
}

.banners .content .button>div>a>.icon {
  transition: all .7s ease;
}

.banners .content .button>div:hover>a>.icon {
  transform: translateX(40%);
}

.banners .content .button>div>a>span {
  position: relative;
}

.banners .content .button>div>a>span::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: all .7s ease;
}

.banners .content .button>div:hover>a>span::after {
  width: 100%;
}

.banners .swiper-pagination-wrapper {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 10;
}

.banners .swiper-pagination {
  position: static !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.banners .swiper-pagination>.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: .7;
}

.banners .swiper-pagination>.swiper-pagination-bullet-active {
  background-color: transparent;
  border: 3px solid #fff;
  opacity: 1;
}

.banners .swiper-pagination-wrapper>.toggle-btn {
  cursor: pointer;
}

.banners .swiper-pagination-wrapper>.toggle-btn>.pause {
  display: none;
  justify-content: center;
  align-items: center;
}

.banners .swiper-pagination-wrapper>.toggle-btn>.pause.active {
  display: flex;
}

.banners .swiper-pagination-wrapper>.toggle-btn>.pause>div {
  height: 18px;
  width: 4px;
  margin-right: 4px;
  background-color: #fff;

}

.banners .swiper-pagination-wrapper>.toggle-btn>.play {
  display: none;
  justify-content: center;
  align-items: center;
}

.banners .swiper-pagination-wrapper>.toggle-btn>.play.active {
  display: flex;

}

.banners .swiper-pagination-wrapper>.toggle-btn>.play img {
  display: block;
  width: 16px;
}

/* ---------- Main Section 1 Banner End ---------- */




/* ---------- Main Section 2 Product Start ---------- */
.sec-product {
  color: #fff;
  padding: 158px 0 84px 0;
}

.sec-product>.container {
  max-width: 1320px;
  min-width: 310px;
  box-sizing: border-box;
  padding: 0 36px;
  margin: 0 auto;
}

.sec-product .h1 {
  font-size: 42px;
  font-weight: 700;
}

.sec-product .text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.16px;
  padding: 16px 0 24px 0;
}



/* --------- Drop Box Custom Start ---------- */

.sec-product .drop-box {
  margin-bottom: 88px;
  width: 256px;
  position: relative;
  cursor: pointer;
}

.sec-product .drop-box>.select-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(213, 213, 213, 33.33%);
  padding: 10px 0;
}

.sec-product .drop-box>.select-btn>.select-icon>.icon-1 {
  display: block;
}

.sec-product .drop-box:hover>.select-btn>.select-icon>.icon-1 {
  display: none;
}

.sec-product .drop-box>.select-btn>.select-icon>.icon-2 {
  display: none;
}

.sec-product .drop-box:hover>.select-btn>.select-icon>.icon-2 {
  display: block;
}

.sec-product .drop-box>.select-btn>span {
  display: none;
  font-size: 16px;
  font-weight: 700;
}

.sec-product .drop-box>.select-btn>span.active {
  display: block;
}

.sec-product .drop-box>.select-list {
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  z-index: 11111;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, .2);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.sec-product .drop-box.hover>.select-list {
  max-height: 400px;
  opacity: 1;
  transition: max-height .7s ease, opacity .4s ease;
}

.sec-product .drop-box>.select-list>li {
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
}

.sec-product .drop-box>.select-list>li:hover {
  background-color: #484B4D;
}

/* --------- Drop Box Custom End ---------- */
/* --------- Product-swiper Custom Start ---------- */

.sec-product .Product-swiper {
  height: 486px;
}

.sec-product .swiper-box>li {
  display: none;
}

.sec-product .swiper-box>li.active {
  display: flex;
}

.sec-product .Product-swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #151515;
  height: 428px;
  padding: 36px;
  box-sizing: border-box;
}

.sec-product .Product-swiper .swiper-slide .h2 {
  font-size: 16px;
  font-weight: 500;
}

.sec-product .Product-swiper .swiper-slide .img-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.sec-product .Product-swiper .swiper-slide img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.sec-product .Product-swiper .swiper-slide .detail-btn a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 600;

}

.sec-product .Product-swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.sec-product .Product-swiper .swiper-pagination>.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: .7;
}

.sec-product .Product-swiper .swiper-pagination>.swiper-pagination-bullet-active {
  background-color: transparent;
  border: 3px solid #fff;
  opacity: 1;

}

swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 0px);
}

/* ---------- Main Section 2 Product End ---------- */




/* ---------- Main Section 3 Navi Start ---------- */
.sec-navi {
  padding: 125px 0;
  white-space: nowrap;
  min-width: 310px;
}

.sec-navi .container {
  max-width: 1320px;
  box-sizing: border-box;
  padding: 0 32px;
  margin: 0 auto;
}

.sec-navi ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.sec-navi ul>li {
  flex-grow: 1;
}

.sec-navi ul>li>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 158px;
  padding: 28px 0 24px 0;
  box-sizing: border-box;
}

.sec-navi ul>li .text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

.sec-navi ul>li .img-box {
  width: 60px;
}

.sec-navi ul>li img {
  display: block;
  transition: all .7s ease;
  width: 100%;
}

.sec-navi ul>li:hover img {
  transform: translateY(-10%);
}

.sec-navi ul>li .text::after {
  content: "";
  display: block;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: all .7s ease;
}

.sec-navi ul>li:hover .text::after {
  width: 100%;
}

/* ---------- Main Section 3 Navi End ---------- */




/* ---------- Main Section 4 ElectricCar Start ---------- */
.sec-Electric-Intelligence {
  min-width: 310px;
}

.sec-Electric-Intelligence .Electric-banner {
  width: 100%;
}

.sec-Electric-Intelligence .Electric-banner img {
  display: block;
  width: 100%;

}

.sec-Electric-Intelligence .container {
  max-width: 1320px;
  padding: 120px 36px 180px;
  box-sizing: border-box;
  margin: 0 auto;
}

.sec-Electric-Intelligence .container .h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 54.6px;
  letter-spacing: -1.26px;
  color: #fff;
  margin-bottom: 80px;
}

.sec-Electric-Intelligence .container nav {
  width: 100%;
}

.sec-Electric-Intelligence .container nav>ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.sec-Electric-Intelligence .container nav>ul>li {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.sec-Electric-Intelligence .container nav>ul>li>.img-box {
  width: 100%;
  overflow: hidden;
}

.sec-Electric-Intelligence .container nav>ul>li>.img-box>a {
  display: block;
  width: 100%;
}

.sec-Electric-Intelligence .container nav>ul>li>.img-box>a>img {
  display: block;
  object-fit: cover;
  width: 100%;
  transition: all .7s ease;
}

.sec-Electric-Intelligence .container nav>ul>li>.img-box:hover>a>img {
  transform: scale(1.08);
}

.sec-Electric-Intelligence .container nav>ul>li>.text-box {
  color: #fff;
}

.sec-Electric-Intelligence .container nav>ul>li>.text-box>span {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.8px;
  margin-bottom: 8px;
}

.sec-Electric-Intelligence .container nav>ul>li>.text-box>p {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.8px;
  text-align: justify;
}

.sec-Electric-Intelligence .container nav>ul>li>.btn-box {
  display: none;
  border: 1px solid #fff;
}

.sec-Electric-Intelligence .container nav>ul>li>.btn-box>a {
  padding: 8px 10px;
  width: 100%;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

.sec-Electric-Intelligence .container nav>ul>li>.btn-box>a>span {
  font-size: 12px;
  font-weight: 400;
}

/* ---------- Main Section 4 ElectricCar End ---------- */




/* ---------- Main Section 5 BrandStory Start ---------- */
.sec-brand-story .container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.sec-brand-story .container>div {
  width: 100%;
  overflow: hidden;
}

.sec-brand-story .container>.content {
  min-width: 800px;
  align-self: center;
}

.sec-brand-story .container>.content>div {
  width: 736px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sec-brand-story .container>.content .h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: 700;
  white-space: nowrap;
  margin-bottom: 40px;
}

.sec-brand-story .container>.content .text-box-wrap {
  width: 410px;
  height: 202px;
  position: relative;
  margin-left: auto;
}

.sec-brand-story .container>.content .text-box {
  position: absolute;
  top: 0;
  right: 0;
}

.sec-brand-story .container>.content .h2 {
  font-family: "Playfair", serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 46px;
  margin-bottom: 20px;
  text-align: right;
}

.sec-brand-story .container>.content p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  line-height: 1.7;
}

.sec-brand-story .container>.content p:nth-child(3) {
  display: none
}

.sec-brand-story .container>.marquee {
  max-width: 483px;
  position: relative;
}

.sec-brand-story .container>.marquee>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sec-brand-story .container>.marquee-2>div {
  top: auto;
  bottom: 0;
  left: 0;
}

.sec-brand-story .container>.marquee-1>div>div {
  margin-bottom: 32px;
}

.sec-brand-story .container>.marquee-2>div>div {
  margin-bottom: 0;
  margin-top: 32px;
}

.sec-brand-story .container>.marquee img {
  display: block;
  width: 100%;
}

/* ---------- Main Section 5 BrandStory End ---------- */




/* ---------- Main Section 6 Technology Start ---------- */
/* ---------- Main Section 6 Technology End ---------- */




/* ---------- Main Section 7 Contents Start ---------- */
/* ---------- Main Section 7 Contents End ---------- */

/* ---------- Main Custom End ---------- */





/* ---------- 반응형 커스텀 ---------- */

@media (max-width:1240px) and (min-width:769px) {

  /* ---------- header Custom Start ---------- */
  header .header_inner {
    height: 80px;
  }

  header .header_inner>.menu_box {
    display: none;
  }

  header .header_inner>.util_box {
    display: none;
  }

  header .header_inner {
    justify-content: space-between;
  }

  header .header_inner>.hamberger-btn {
    display: flex;
  }

  header .hamberger-box.active {
    visibility: visible;
    top: 0;
  }

  /* ---------- header Custom End ---------- */







  /* ---------- Main Custom Start ---------- */
  /* ---------- Main Section 1 Banner Start ---------- */
  .banners {
    height: calc(100vh - 80px);
    padding-top: 80px;
  }

  /* ---------- Main Section 1 Banner End ---------- */




  /* ---------- Main Section 2 Product Start ---------- */

  .sec-product {
    padding: 102px 0 60px 0;
  }

  .sec-product>.container {
    max-width: 1000px;
    padding: 0 36px;
  }

  .sec-product .h1 {
    font-size: 38px;
  }

  .sec-product .drop-box>.select-btn {
    padding: 8px 0;
  }

  .sec-product .drop-box>.select-btn>span {
    font-size: 14px;
  }

  .sec-product .drop-box>.select-list>li {
    padding: 14px;
    cursor: pointer;
    font-size: 14px
  }

  .sec-product .Product-swiper .swiper-pagination>.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }


  /* ---------- Main Section 2 Product End ---------- */




  /* ---------- Main Section 3 Navi Start ---------- */
  .sec-navi {
    padding: 100px 0;
  }

  .sec-navi .container {
    max-width: 1000px;
  }

  .sec-navi ul {
    gap: 16px;
  }

  .sec-navi ul>li>a {
    height: 136px;
  }

  .sec-navi ul>li .img-box {
    width: 52px;
  }

  .sec-navi ul>li .text {
    font-size: 14px;
  }

  /* ---------- Main Section 3 Navi End ---------- */




  /* ---------- Main Section 4 ElectricCar Start ---------- */
  .sec-Electric-Intelligence .container {
    max-width: 1000px;
    padding: 60px 36px;
  }

  .sec-Electric-Intelligence .container .h1 {
    font-size: 38px;
    margin-bottom: 60px;
  }



  .sec-Electric-Intelligence .container nav>ul>li>.text-box>span {
    font-size: 18px;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.text-box>p {
    font-size: 14px;
  }

  /* ---------- Main Section 4 ElectricCar End ---------- */




  /* ---------- Main Section 5 BrandStory Start ---------- */
  .sec-brand-story .container>.content {
    min-width: 600px;
  }

  .sec-brand-story .container>.content>div {
    max-width: 600px;
    padding: 0 80px;
  }


  .sec-brand-story .container>.content .h1 {
    font-size: 70px;
    margin-bottom: 40px;
  }

  .sec-brand-story .container>.content .h2 {
    font-size: 38px;
    margin-bottom: 18px;
    line-height: auto;
  }

  .sec-brand-story .container>.content p:nth-child(2) {
    font-size: 14px;
    line-height: 23.8px;
  }

  .sec-brand-story .container>.content .text-box-wrap {
    width: 400px;
    height: 180px;
  }

  .sec-brand-story .container>.marquee-1 {
    display: none;
  }

  .sec-brand-story .container>.marquee {
    max-width: 350px;
  }

  .sec-brand-story .container>.marquee-2>div>div {
    margin-top: 16px;
  }

  /* ---------- Main Section 5 BrandStory End ---------- */




  /* ---------- Main Section 6 Technology Start ---------- */
  /* ---------- Main Section 6 Technology End ---------- */




  /* ---------- Main Section 7 Contents Start ---------- */
  /* ---------- Main Section 7 Contents End ---------- */

  /* ---------- Main Custom End ---------- */

}

@media (max-width:768px) and (min-width:415px) {

  /* ---------- header Custom Start ---------- */
  header .header_inner {
    height: 60px;
    justify-content: space-between;
  }

  header .header_inner>.menu_box {
    display: none;
  }

  header .header_inner>.util_box {
    display: none;
  }

  header .header_inner .logo_box img {
    width: 140px;
  }

  header .header_inner .hamberger-btn {
    width: 24px;
    height: 24px;
    display: flex;
  }

  header .header_inner .hamberger-btn>div {
    height: 1px;
  }

  header .hamberger-btn>div:nth-child(3) {
    height: 2px
  }

  header .hamberger-btn.active>div:nth-child(3) {
    height: 1px;
  }

  header .hamberger-box {
    padding: 4.21vh 0;
    overflow-y: auto;
  }

  header .hamberger-box.active {
    visibility: visible;
    top: 0;
  }

  header .hamberger-box .menu-box {
    display: none;
  }

  header .hamberger-box .menu-box-mo-ver {
    display: block;
  }

  header .hamberger-box>div:nth-child(5) {
    font-size: 12px;
    gap: 4px;
    margin-bottom: 40px;
    padding: 0 50px 0 40px;
  }

  header .hamberger-box>div:nth-child(6) {
    padding: 0 50px 0 40px;
  }

  header .hamberger-box>div:nth-child(6)>div:first-child {
    margin-bottom: 20px;
  }

  /* ---------- header Custom End ---------- */






  /* ---------- Main Custom Start ---------- */
  /* ---------- Main Section 1 Banner Start ---------- */
  .banners {
    height: calc(100vh - 60px);
    padding-top: 60px;
  }

  .banners .swiper-slide {
    padding-top: 10vh;
  }

  .banners .content {
    max-width: 650px;
    justify-content: flex-start;
  }

  .banners .content .text-box>.brand-name {
    font-size: 18px;
  }

  .banners .content .text-box .h1 {
    font-size: 60px;
    white-space: wrap;
    height: 164px;
  }

  .banners .content .button {
    margin-top: 20px;
  }

  .banners .content .button>div {
    font-size: 16px;
  }

  .banners .content .button>div img {
    width: 22px;
    height: 22px;
  }

  .banners .swiper-pagination {
    gap: 8px;
  }

  .banners .swiper-pagination>.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* ---------- Main Section 1 Banner End ---------- */




  /* ---------- Main Section 2 Product Start ---------- */
  .sec-product {
    padding: 80px 0 40px 0;
  }

  .sec-product>.container {
    max-width: 650px;
    padding: 0 20px;

  }

  .sec-product .h1 {
    font-size: 28px;
  }


  .sec-product .text {
    font-size: 14px;
  }

  .sec-product .drop-box {
    margin-bottom: 40px;
  }

  .sec-product .drop-box>.select-btn {
    padding: 8px 0;
  }

  .sec-product .drop-box>.select-btn>span {
    font-size: 14px;
  }

  .sec-product .Product-swiper .swiper-slide .h2 {
    font-size: 14px;
  }

  .sec-product .Product-swiper .swiper-slide .detail-btn a {
    font-size: 12px;
    padding: 8px 16px;
  }

  .sec-product .drop-box>.select-list>li {
    padding: 14px;
    cursor: pointer;
    font-size: 14px
  }

  .sec-product .Product-swiper {
    height: 272px;
  }

  .sec-product .Product-swiper .swiper-slide {
    min-width: auto;
    height: 244px;
    padding: 16px;
  }

  .sec-product .Product-swiper .swiper-pagination {
    gap: 8px;
  }

  .sec-product .Product-swiper .swiper-pagination>.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* ---------- Main Section 2 Product End ---------- */




  /* ---------- Main Section 3 Navi Start ---------- */
  .sec-navi {
    padding: 60px 0;
  }

  .sec-navi .container {
    padding: 0 20px;
    max-width: 650px;
  }

  .sec-navi ul {
    gap: 16px;
    flex-wrap: wrap;
  }

  .sec-navi ul>li {
    width: calc(100% / 4);
  }

  .sec-navi ul>li>a {
    height: 136px;
  }

  .sec-navi ul>li .img-box {
    width: 52px;
  }

  .sec-navi ul>li .text {
    font-size: 14px;
  }

  /* ---------- Main Section 3 Navi End ---------- */




  /* ---------- Main Section 4 ElectricCar Start ---------- */
  .sec-Electric-Intelligence .container {
    max-width: 650px;
    padding: 40px 20px;
  }

  .sec-Electric-Intelligence .container .h1 {
    font-size: 28px;
    margin-bottom: 40px;
    line-height: 40px;
  }

  .sec-Electric-Intelligence .container nav>ul {
    gap: 20px;
    flex-direction: column;
  }

  .sec-Electric-Intelligence .container nav>ul>li {
    gap: 24px;
    flex-direction: row;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.img-box {
    max-width: 186px;
    flex-grow: 1;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.text-box {
    display: inline-block;
    color: #fff;
    padding: 16px 0;
    min-width: 240px;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.text-box>span {
    font-size: 18px;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.text-box>p {
    font-size: 14px;
  }

  /* ---------- Main Section 4 ElectricCar End ---------- */




  /* ---------- Main Section 5 BrandStory Start ---------- */
  .sec-brand-story .container {
    height: auto;
  }

  .sec-brand-story .container>.content {
    min-width: 414px;
    width: 100%;
  }

  .sec-brand-story .container>.content>div {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 60px 20px;
  }


  .sec-brand-story .container>.content .h1 {
    font-size: 54px;
    margin-bottom: 60px;

  }

  .sec-brand-story .container>.content .h2 {
    font-size: 26px;
    margin-bottom: 0;
    line-height: auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .sec-brand-story .container>.content .h2::after {
    content: "+";
    display: block;
    width: 18px;
  }

  .sec-brand-story .container>.content .h2.active::after {
    content: "-";
    display: block;
    width: 18px;
  }


  .sec-brand-story .container>.marquee-1 {
    display: none;
  }

  .sec-brand-story .container>.marquee-2 {
    display: none;
  }

  .sec-brand-story .container>.marquee {
    max-width: 350px;
  }

  .sec-brand-story .container>.marquee-2>div>div {
    margin-top: 16px;
  }

  .sec-brand-story .container>.content .text-box-wrap {
    width: 100%;
    height: auto;
    position: relative;
    margin-left: auto;
  }

  .sec-brand-story .container>.content .text-box-wrap>.text-box {
    position: static;
    border-top: 1px solid #fff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .sec-brand-story .container>.content p:nth-child(2) {
    display: none;
    font-size: 14px;
    line-height: 23.8px;
  }

  .sec-brand-story .container>.content p:nth-child(3) {
    font-size: 16px;
    line-height: 23.8px;
    text-align: justify;
    padding-left: 80px;
    display: none;
    width: 100%;
    white-space: wrap;
    box-sizing: border-box;
    margin-top: 18px;
  }

  .sec-brand-story .container>.content .text-box:last-child {
    border-bottom: 1px solid #fff;
  }

  /* ---------- Main Section 5 BrandStory End ---------- */




  /* ---------- Main Section 6 Technology Start ---------- */
  /* ---------- Main Section 6 Technology End ---------- */




  /* ---------- Main Section 7 Contents Start ---------- */
  /* ---------- Main Section 7 Contents End ---------- */

  /* ---------- Main Custom End ---------- */

}

@media (max-width:414px) {

  /* ---------- header Custom Start ---------- */
  header>.container {
    padding: 0 20px;
  }

  header .header_inner {
    height: 60px;
    justify-content: space-between;
  }

  header .header_inner .logo_box img {
    width: 140px;
  }

  header .header_inner>.menu_box {
    display: none;
  }

  header .header_inner>.util_box {
    display: none;
  }

  header .header_inner .hamberger-btn {
    width: 24px;
    height: 24px;
    display: flex;
  }

  header .header_inner .hamberger-btn>div {
    height: 1px;
  }

  header .hamberger-btn>div:nth-child(3) {
    height: 2px
  }

  header .hamberger-btn.active>div:nth-child(3) {
    height: 1px;
  }

  header .hamberger-box {
    padding: 68px 0;
    min-width: 310px;
    overflow-y: auto;
  }

  header .hamberger-box.active {
    visibility: visible;
    top: 0;
  }

  header .hamberger-box .menu-box {
    display: none;
    width: 100%;
  }

  header .hamberger-box .menu-box-mo-ver {
    width: 100%;
    margin-bottom: 40px;
    display: block;
  }


  header .hamberger-box .search-box {
    padding: 8px 4px;
    min-width: 194px;
  }

  header .hamberger-box .search-box input {
    font-size: 12px;
    text-align: center;
  }

  header .hamberger-box .menu-box-mo-ver>ul {
    padding: 0 10px;
  }

  header .hamberger-box>div:nth-child(5) {
    padding: 0 10px;
  }

  header .hamberger-box>div:nth-child(6) {
    padding: 0 10px;
  }

  /* ---------- header Custom End ---------- */






  /* ---------- Main Custom Start ---------- */
  /* ---------- Main Section 1 Banner Start ---------- */
  .banners {
    height: calc(100vh - 60px);
    padding-top: 60px;
  }

  .banners .swiper-slide {
    padding-top: 10vh;
  }

  .banners .content {
    max-width: 650px;
    justify-content: flex-start;
    padding: 0 10px;
  }


  .banners .content .text-box>.brand-name {
    font-size: 18px;
  }

  .banners .content .text-box .h1 {
    white-space: wrap;
    font-size: 50px;
    height: 140px;
  }

  .banners .content .button {
    margin-top: 20px;
  }

  .banners .content .button>div {
    font-size: 14px;
  }

  .banners .content .button>div img {
    width: 20px;
    height: 20px;
  }

  .banners .swiper-pagination>.swiper-pagination-bullet {
    width: 6x;
    height: 6px;
  }

  .banners .swiper-pagination {
    gap: 4px;
  }

  .banners .swiper-pagination>.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* ---------- Main Section 1 Banner End ---------- */




  /* ---------- Main Section 2 Product Start ---------- */
  .sec-product {
    padding: 80px 0 40px 0;
  }

  .sec-product>.container {
    max-width: auto;
    padding: 0 16px;

  }

  .sec-product .h1 {
    font-size: 20px;
  }

  .sec-product .text {
    font-size: 12px;
  }

  .sec-product .drop-box {
    margin-bottom: 40px;
  }

  .sec-product .drop-box>.select-btn {
    padding: 8px 0;
  }

  .sec-product .drop-box>.select-btn>span {
    font-size: 12px;
  }

  .sec-product .drop-box>.select-list>li {
    padding: 12px;
    cursor: pointer;
    font-size: 12px
  }

  .sec-product .Product-swiper {
    height: 388px;
  }

  .sec-product .Product-swiper .swiper-slide {
    height: 344px;
    min-width: auto;
    padding: 16px;
  }

  .sec-product .Product-swiper .swiper-slide .detail-btn a {
    font-size: 12px;
    padding: 8px 16px;
    width: 161px;
    margin: 0 auto;
  }

  .sec-product .Product-swiper .swiper-pagination {
    gap: 4px;
  }

  .sec-product .Product-swiper .swiper-pagination>.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  /* ---------- Main Section 2 Product End ---------- */




  /* ---------- Main Section 3 Navi Start ---------- */

  .sec-navi {
    padding: 60px 0;
  }

  .sec-navi .container {
    padding: 0 16px;
    max-width: 650px;
  }

  .sec-navi ul {
    gap: 16px;
    flex-wrap: wrap;
  }

  .sec-navi ul>li {
    width: calc(100% / 4);
  }

  .sec-navi ul>li>a {
    height: 110px;
    padding: 20px 0;
  }

  .sec-navi ul>li .img-box {
    width: 38px;
  }

  .sec-navi ul>li .text {
    font-size: 14px;
  }

  /* ---------- Main Section 3 Navi End ---------- */




  /* ---------- Main Section 4 ElectricCar Start ---------- */
  .sec-Electric-Intelligence .container {
    padding: 40px 16px;
  }

  .sec-Electric-Intelligence .container .h1 {
    font-size: 20px;
    margin-bottom: 32px;
    line-height: 24px;
  }

  .sec-Electric-Intelligence .container nav>ul {
    gap: 40px;
    flex-direction: column;
  }

  .sec-Electric-Intelligence .container nav>ul>li {
    gap: 12px;
    flex-direction: column;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.img-box {
    max-width: none;
    width: 100%;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.text-box {
    display: block;
    color: #fff;
    padding: 0px 0;
    min-width: none;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.text-box>span {
    margin-bottom: 4px;
  }

  .sec-Electric-Intelligence .container nav>ul>li>.btn-box {
    display: block;
  }

  /* ---------- Main Section 4 ElectricCar End ---------- */




  /* ---------- Main Section 5 BrandStory Start ---------- */
  .sec-brand-story .container {
    height: auto;
  }

  .sec-brand-story .container>.content {
    min-width: 310px;
    width: 100%;
  }

  .sec-brand-story .container>.content>div {
    width: 100%;
    max-width: 650px;
    padding: 60px 16px;
  }

  .sec-brand-story .container>.content .h1 {
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 90px;

  }

  .sec-brand-story .container>.content .h2 {
    font-size: 26px;
    margin-bottom: 0;
    line-height: auto;
    text-align: right;
  }


  .sec-brand-story .container>.content .text-box:not(:nth-child(1)) {
    display: none;
  }

  .sec-brand-story .container>.content p:nth-child(2) {
    display: none;
  }

  .sec-brand-story .container>.marquee {
    display: none;
  }

  .sec-brand-story .container>.content .text-box-wrap {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
  }

  .sec-brand-story .container>.content .text-box-wrap>.text-box {
    position: static;
    width: 100%;
  }

  /* ---------- Main Section 5 BrandStory End ---------- */




  /* ---------- Main Section 6 Technology Start ---------- */
  /* ---------- Main Section 6 Technology End ---------- */




  /* ---------- Main Section 7 Contents Start ---------- */
  /* ---------- Main Section 7 Contents End ---------- */

  /* ---------- Main Custom End ---------- */
}